{% extends 'layoutAdmin.html.twig' %}

{% block body %}
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
	<div class="table-bordered pl-2 pr-2 pt-5 pb-5">
		<div class="row" >
			<div class="col-md-6" >
				{{ form_start(form) }}
				<fieldset class="form-group col-md-6">
					<label for="nom">Name of Image </label>
					<span class="text-danger font-weight-bold">*</span>
					{{ form_widget(form.alt,{'attr': {'class': 'form-control'}}) }}
				</fieldset>
				<fieldset class="form-group col-md-6">
					<label for="nom">Some word on Image </label>
					<span class="text-danger font-weight-bold">*</span>
					{{ form_widget(form.libelle,{'attr': {'class': 'form-control'}}) }}
				</fieldset>
				<fieldset class="form-group col-md-6">
					<label for="nom">Insert an image(jpeg/png format) </label>
					<span class="text-danger font-weight-bold">*</span>
					{{ form_widget(form.path,{'attr': {'class': 'form-control'}}) }}
				</fieldset>
	
			<button type="submit" class="btn btn-primary mb-3">Send</button>
				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% else %}	
	{% include 'security/login.html.twig' %}
{% endif %}
{% endblock %}