{% extends 'layoutAdmin.html.twig' %}

{% block body %}
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
<div class="table-bordered pl-2 pr-2 pt-5 pb-5">
    <div class="row">
        <div class="col">
    <h1>Page edit</h1><hr>

    {{ form_start(edit_form) }}
        <fieldset class="form-group col-md-6">
            <label for="categorie">Nom de Categorie</label>
            {{ form_widget(edit_form.categorie,{'attr': {'class': 'form-control'}}) }}
        </fieldset>
        <fieldset class="form-group col-md-6">
            <label for="nom">Nom de Produit</label>
            {{ form_widget(edit_form.nom,{'attr': {'class': 'form-control'}}) }}
        </fieldset>
        <fieldset class="form-group col-md-6">
            <label for="prix">Prix de Produit</label>
            {{ form_widget(edit_form.prix,{'attr': {'class': 'form-control'}}) }}
        </fieldset>
        <div class="form-group row ml-5">
            <label for="disponible">Disponibilité Produit</label>
            {{ form_widget(edit_form.disponible,{'attr': {'class': 'form-check-input'}}) }}
        </div>
        <input class="btn btn-info mb-3" type="submit" value="Edit" />
    {{ form_end(edit_form) }}
    
    	   <div>
                <a class="btn btn-info mb-3" href="{{ path('tarif_admin_show') }}">Back to the list</a>
            </div>
        </div>
    </div>
</div>
{% else %}  
    {% include 'security/login.html.twig' %}
{% endif %}
{% endblock %}